<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Converse Warped Tour | Statistics</title>
<link rel="stylesheet" th:href="@{css/main.css}">
<link rel="stylesheet" th:href="@{css/home.css}">
</head>
<body>
<!-- Converse Warped Tour 2024  -->
<header>
	<!-- Links -->
	<nav>
		<div class="center">
			<img th:src="@{../img/png-cwt_logo.png}">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="">Event Info</a></li>
				<li><a href="">Guest List</a></li>
				<li><a href="/add">Buy Ticket</a></li>
				<li><a href="/view">View Tickets</a></li>
				<li><a class="active" href="/stats">View Statistics</a></li>
			</ul>
		</div>
	</nav>
</header>	
<hr>
<main>
	<!-- Layer One -->
	<section></section>
	<!-- Layer Two -->
	<section>
		<div class="center">
			<table border="1">
				<tr><th colspan="5">Stat 1</th></tr>
				<tr>
					<td>Genders</td>
					<td>Female</td>
					<td>Male</td>
					<td>Unicorn</td>
					<td>Other</td>
				</tr>
				<tr>
					<td>Percentages</td>
					<td th:text="${female} + '%'"></td>
					<td th:text="${male} + '%'"></td>
					<td th:text="${unicorn} + '%'"></td>
					<td th:text="${other} + '%'"></td>
				</tr>
			</table><br><br>
			<table border="1">
				<tr><th colspan="6">Stat 2</th></tr>
				<tr>
					<td>Age Groups</td>
					<td>Below 18</td>
					<td>18 - 34</td>
					<td>35 - 50</td>
					<td>51 - 66</td>
					<td>67+</td>
				</tr>
				<tr>
					<td>Percentages</td>
					<td th:text="${ag1} + '%'"></td>
					<td th:text="${ag2} + '%'"></td>
					<td th:text="${ag3} + '%'"></td>
					<td th:text="${ag4} + '%'"></td>
					<td th:text="${ag5} + '%'"></td>
				</tr>
			</table><br><br>
			<table border="1">
				<tr><th colspan="5">Stat 3</th></tr>
				<tr>
					<td>Event Dates</td>
					<td>August 9, 2024 - Friday</td>
					<td>August 10, 2024 - Saturday</td>
					<td>August 11, 2024 - Sunday</td>
					<td>ALL WEEKEND</td>
				</tr>
				<tr>
					<td>Percentages</td>
					<td th:text="${fri} + '%'"></td>
					<td th:text="${sat} + '%'"></td>
					<td th:text="${sun} + '%'"></td>
					<td th:text="${all} + '%'"></td>
				</tr>
			</table><br><br>
			<table border="1">
				<tr><th colspan="5">Stat 4</th></tr>
				<tr>
					<td>Ticket Packages</td>
					<td>$18.99</td>
					<td>$19.99</td>
					<td>$20.99</td>
					<td>$25.99</td>
				</tr>
				<tr>
					<td>Percentages</td>
					<td th:text="${price1} + '%'"></td>
					<td th:text="${price2} + '%'"></td>
					<td th:text="${price3} + '%'"></td>
					<td th:text="${price4} + '%'"></td>
				</tr>
			</table><br><br>
			<table border="1">
				<tr><th colspan="5">Stat 5</th></tr>
				<tr>
					<td>Medias</td>
					<td>Social Media</td>
					<td>Flyer</td>
					<td>Word of Mouth</td>
					<td>Commercial</td>
				</tr>
				<tr>
					<td>Percentages</td>
					<td th:text="${media1} + '%'"></td>
					<td th:text="${media2} + '%'"></td>
					<td th:text="${media3} + '%'"></td>
					<td th:text="${media4} + '%'"></td>
				</tr>
			</table>
		</div>
	</section>
	<!-- Layer Three -->
	<section></section>
</main>

<hr>
<footer>
	<p>COPYRIGHT © CONVERSE WARPED TOUR | 2024</p>
</footer>

</body>
</html>